@import '../../styles/theme';

.messages {
  padding-top: 0.5rem;
  height: 100%;
  overflow-y: scroll;

  /* For Webkit (Safari, Chrome) browsers */
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.message {
  display: flex;
  justify-content: space-between;
}

.text {
  margin: 5px;
}

.normal {
  color: $green;
  font-size: $font-size-medium;
  font-weight: bold;
}

.critical {
  color: $red;
  font-size: $font-size-medium;
  font-weight: bold;
}

.small {
  color: $gray;
  font-size: $font-size-small;
  font-weight: normal;
}