@import '../../theme';

.messages {
  padding-top: 0.5rem;
}

.message {
  display: flex;
  justify-content: space-between;
}

.text {
  margin: 5px;
}

.normal {
  color: $green;
  font-size: $font-size-medium;
  font-weight: bold;
}

.action {
  color: $red;
  font-size: $font-size-medium;
  font-weight: bold;
}

.small {
  color: $gray;
  font-size: $font-size-small;
  font-weight: normal;
}

.action {
  color: $red;
}